TravelWebSite/Web References/PaqueteWS/PaquetesPopularesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="TravelAdmin" xmlns:wsdlns="TravelAdmin" name="PaquetesPopularesWS" targetNamespace="TravelAdmin" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="TravelAdmin">
      <xsd:element name="PaquetesPopularesWS.OBTENERPREGUNTAS">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.OBTENERPREGUNTASResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Tramapreguntas" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.SLIDER">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.SLIDERResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Slider" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.HEADERPUBLICIDAD">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.HEADERPUBLICIDADResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Paginacontenidohtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.HEADERTELEFONO">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.HEADERTELEFONOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Paginacontenidohtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.GUARDARPREGUNTAS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariopregunta1" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariorespuesta1" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariopregunta2" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariorespuesta2" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.GUARDARPREGUNTASResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Valido" type="xsd:short" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.RECUPERARPREGUNTASR">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.RECUPERARPREGUNTASRResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Tramarp" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.RECUPERARVALUEPREGUNTASR">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.RECUPERARVALUEPREGUNTASRResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Tramarp" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.ACTUALIZARPASSWORD">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariopassword" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.ACTUALIZARPASSWORDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Valido" type="xsd:short" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.TEOFRECEMOS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Tipopag" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.TEOFRECEMOSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Paginacontenidohtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.VERIFICARUSUARIOREDES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.VERIFICARUSUARIOREDESResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Valido" type="xsd:short" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.GETINFORMACIONADICIONAL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.GETINFORMACIONADICIONALResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Tramainformacionadicional" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.BUSQUEDAPAQUETES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Tipo" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Valor" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.BUSQUEDAPAQUETESResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Busquedahtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.SELECCIONARPAGINACONTENIDO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Paginacontnom" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.SELECCIONARPAGINACONTENIDOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Paginacontid" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.OBTENERNOMBREAPELLIDO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.OBTENERNOMBREAPELLIDOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Trama" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.PAGINACONTENIDO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.PAGINACONTENIDOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Paginacontenidohtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.PAQUETES">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.PAQUETESResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Popularpaquetehtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.BOLETINFOOTER">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.BOLETINFOOTERResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Boletinhtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.DESTINOS">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.DESTINOSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Destinopopularhtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.DESTINODETALLE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.DESTINODETALLEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Destinodetailhtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.COTIZARPAQUETE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.COTIZARPAQUETEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Destinodetailhtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.COORDENADASPAQUETE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.COORDENADASPAQUETEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Paqueteubicacion" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.CONTACTOALMACENAR">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Nombre1" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Nombre2" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Correo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Telefono" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Comentario" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.CONTACTOALMACENARResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="retval" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.CONTACTO">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.CONTACTOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Contactohtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.CATEGORIASBUSQUEDA">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.CATEGORIASBUSQUEDAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Catbusquedahtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.REGISTROUSUARIO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarionombre" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioapellidos" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariopassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariotipologin" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.REGISTROUSUARIOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Valido" type="xsd:short" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.INICIARSESION">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariopassword" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.INICIARSESIONResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Trama" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.INFORMACIONADICIONAL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarionombre" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioapellidos" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarioemail" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariofechanacimiento" type="xsd:date" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariociudadresidencia" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariotelefono" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariocelular" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariopasaporte" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariofechavenc" type="xsd:date" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariovisa" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuariovisafechavenc" type="xsd:date" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usuarionacionalidad" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.INFORMACIONADICIONALResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Valido" type="xsd:short" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.RECOMENDADOS">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaquetesPopularesWS.RECOMENDADOSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Recomendadohtml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="PaquetesPopularesWS.OBTENERPREGUNTASSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.OBTENERPREGUNTAS" />
  </message>
  <message name="PaquetesPopularesWS.OBTENERPREGUNTASSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.OBTENERPREGUNTASResponse" />
  </message>
  <message name="PaquetesPopularesWS.SLIDERSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.SLIDER" />
  </message>
  <message name="PaquetesPopularesWS.SLIDERSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.SLIDERResponse" />
  </message>
  <message name="PaquetesPopularesWS.HEADERPUBLICIDADSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.HEADERPUBLICIDAD" />
  </message>
  <message name="PaquetesPopularesWS.HEADERPUBLICIDADSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.HEADERPUBLICIDADResponse" />
  </message>
  <message name="PaquetesPopularesWS.HEADERTELEFONOSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.HEADERTELEFONO" />
  </message>
  <message name="PaquetesPopularesWS.HEADERTELEFONOSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.HEADERTELEFONOResponse" />
  </message>
  <message name="PaquetesPopularesWS.GUARDARPREGUNTASSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.GUARDARPREGUNTAS" />
  </message>
  <message name="PaquetesPopularesWS.GUARDARPREGUNTASSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.GUARDARPREGUNTASResponse" />
  </message>
  <message name="PaquetesPopularesWS.RECUPERARPREGUNTASRSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.RECUPERARPREGUNTASR" />
  </message>
  <message name="PaquetesPopularesWS.RECUPERARPREGUNTASRSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.RECUPERARPREGUNTASRResponse" />
  </message>
  <message name="PaquetesPopularesWS.RECUPERARVALUEPREGUNTASRSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.RECUPERARVALUEPREGUNTASR" />
  </message>
  <message name="PaquetesPopularesWS.RECUPERARVALUEPREGUNTASRSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.RECUPERARVALUEPREGUNTASRResponse" />
  </message>
  <message name="PaquetesPopularesWS.ACTUALIZARPASSWORDSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.ACTUALIZARPASSWORD" />
  </message>
  <message name="PaquetesPopularesWS.ACTUALIZARPASSWORDSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.ACTUALIZARPASSWORDResponse" />
  </message>
  <message name="PaquetesPopularesWS.TEOFRECEMOSSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.TEOFRECEMOS" />
  </message>
  <message name="PaquetesPopularesWS.TEOFRECEMOSSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.TEOFRECEMOSResponse" />
  </message>
  <message name="PaquetesPopularesWS.VERIFICARUSUARIOREDESSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.VERIFICARUSUARIOREDES" />
  </message>
  <message name="PaquetesPopularesWS.VERIFICARUSUARIOREDESSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.VERIFICARUSUARIOREDESResponse" />
  </message>
  <message name="PaquetesPopularesWS.GETINFORMACIONADICIONALSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.GETINFORMACIONADICIONAL" />
  </message>
  <message name="PaquetesPopularesWS.GETINFORMACIONADICIONALSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.GETINFORMACIONADICIONALResponse" />
  </message>
  <message name="PaquetesPopularesWS.BUSQUEDAPAQUETESSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.BUSQUEDAPAQUETES" />
  </message>
  <message name="PaquetesPopularesWS.BUSQUEDAPAQUETESSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.BUSQUEDAPAQUETESResponse" />
  </message>
  <message name="PaquetesPopularesWS.SELECCIONARPAGINACONTENIDOSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.SELECCIONARPAGINACONTENIDO" />
  </message>
  <message name="PaquetesPopularesWS.SELECCIONARPAGINACONTENIDOSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.SELECCIONARPAGINACONTENIDOResponse" />
  </message>
  <message name="PaquetesPopularesWS.OBTENERNOMBREAPELLIDOSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.OBTENERNOMBREAPELLIDO" />
  </message>
  <message name="PaquetesPopularesWS.OBTENERNOMBREAPELLIDOSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.OBTENERNOMBREAPELLIDOResponse" />
  </message>
  <message name="PaquetesPopularesWS.PAGINACONTENIDOSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.PAGINACONTENIDO" />
  </message>
  <message name="PaquetesPopularesWS.PAGINACONTENIDOSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.PAGINACONTENIDOResponse" />
  </message>
  <message name="PaquetesPopularesWS.PAQUETESSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.PAQUETES" />
  </message>
  <message name="PaquetesPopularesWS.PAQUETESSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.PAQUETESResponse" />
  </message>
  <message name="PaquetesPopularesWS.BOLETINFOOTERSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.BOLETINFOOTER" />
  </message>
  <message name="PaquetesPopularesWS.BOLETINFOOTERSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.BOLETINFOOTERResponse" />
  </message>
  <message name="PaquetesPopularesWS.DESTINOSSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.DESTINOS" />
  </message>
  <message name="PaquetesPopularesWS.DESTINOSSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.DESTINOSResponse" />
  </message>
  <message name="PaquetesPopularesWS.DESTINODETALLESoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.DESTINODETALLE" />
  </message>
  <message name="PaquetesPopularesWS.DESTINODETALLESoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.DESTINODETALLEResponse" />
  </message>
  <message name="PaquetesPopularesWS.COTIZARPAQUETESoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.COTIZARPAQUETE" />
  </message>
  <message name="PaquetesPopularesWS.COTIZARPAQUETESoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.COTIZARPAQUETEResponse" />
  </message>
  <message name="PaquetesPopularesWS.COORDENADASPAQUETESoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.COORDENADASPAQUETE" />
  </message>
  <message name="PaquetesPopularesWS.COORDENADASPAQUETESoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.COORDENADASPAQUETEResponse" />
  </message>
  <message name="PaquetesPopularesWS.CONTACTOALMACENARSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.CONTACTOALMACENAR" />
  </message>
  <message name="PaquetesPopularesWS.CONTACTOALMACENARSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.CONTACTOALMACENARResponse" />
  </message>
  <message name="PaquetesPopularesWS.CONTACTOSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.CONTACTO" />
  </message>
  <message name="PaquetesPopularesWS.CONTACTOSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.CONTACTOResponse" />
  </message>
  <message name="PaquetesPopularesWS.CATEGORIASBUSQUEDASoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.CATEGORIASBUSQUEDA" />
  </message>
  <message name="PaquetesPopularesWS.CATEGORIASBUSQUEDASoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.CATEGORIASBUSQUEDAResponse" />
  </message>
  <message name="PaquetesPopularesWS.REGISTROUSUARIOSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.REGISTROUSUARIO" />
  </message>
  <message name="PaquetesPopularesWS.REGISTROUSUARIOSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.REGISTROUSUARIOResponse" />
  </message>
  <message name="PaquetesPopularesWS.INICIARSESIONSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.INICIARSESION" />
  </message>
  <message name="PaquetesPopularesWS.INICIARSESIONSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.INICIARSESIONResponse" />
  </message>
  <message name="PaquetesPopularesWS.INFORMACIONADICIONALSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.INFORMACIONADICIONAL" />
  </message>
  <message name="PaquetesPopularesWS.INFORMACIONADICIONALSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.INFORMACIONADICIONALResponse" />
  </message>
  <message name="PaquetesPopularesWS.RECOMENDADOSSoapIn">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.RECOMENDADOS" />
  </message>
  <message name="PaquetesPopularesWS.RECOMENDADOSSoapOut">
    <part name="parameters" element="wsdlns:PaquetesPopularesWS.RECOMENDADOSResponse" />
  </message>
  <portType name="PaquetesPopularesWSSoapPort">
    <operation name="OBTENERPREGUNTAS">
      <input message="wsdlns:PaquetesPopularesWS.OBTENERPREGUNTASSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.OBTENERPREGUNTASSoapOut" />
    </operation>
    <operation name="SLIDER">
      <input message="wsdlns:PaquetesPopularesWS.SLIDERSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.SLIDERSoapOut" />
    </operation>
    <operation name="HEADERPUBLICIDAD">
      <input message="wsdlns:PaquetesPopularesWS.HEADERPUBLICIDADSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.HEADERPUBLICIDADSoapOut" />
    </operation>
    <operation name="HEADERTELEFONO">
      <input message="wsdlns:PaquetesPopularesWS.HEADERTELEFONOSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.HEADERTELEFONOSoapOut" />
    </operation>
    <operation name="GUARDARPREGUNTAS">
      <input message="wsdlns:PaquetesPopularesWS.GUARDARPREGUNTASSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.GUARDARPREGUNTASSoapOut" />
    </operation>
    <operation name="RECUPERARPREGUNTASR">
      <input message="wsdlns:PaquetesPopularesWS.RECUPERARPREGUNTASRSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.RECUPERARPREGUNTASRSoapOut" />
    </operation>
    <operation name="RECUPERARVALUEPREGUNTASR">
      <input message="wsdlns:PaquetesPopularesWS.RECUPERARVALUEPREGUNTASRSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.RECUPERARVALUEPREGUNTASRSoapOut" />
    </operation>
    <operation name="ACTUALIZARPASSWORD">
      <input message="wsdlns:PaquetesPopularesWS.ACTUALIZARPASSWORDSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.ACTUALIZARPASSWORDSoapOut" />
    </operation>
    <operation name="TEOFRECEMOS">
      <input message="wsdlns:PaquetesPopularesWS.TEOFRECEMOSSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.TEOFRECEMOSSoapOut" />
    </operation>
    <operation name="VERIFICARUSUARIOREDES">
      <input message="wsdlns:PaquetesPopularesWS.VERIFICARUSUARIOREDESSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.VERIFICARUSUARIOREDESSoapOut" />
    </operation>
    <operation name="GETINFORMACIONADICIONAL">
      <input message="wsdlns:PaquetesPopularesWS.GETINFORMACIONADICIONALSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.GETINFORMACIONADICIONALSoapOut" />
    </operation>
    <operation name="BUSQUEDAPAQUETES">
      <input message="wsdlns:PaquetesPopularesWS.BUSQUEDAPAQUETESSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.BUSQUEDAPAQUETESSoapOut" />
    </operation>
    <operation name="SELECCIONARPAGINACONTENIDO">
      <input message="wsdlns:PaquetesPopularesWS.SELECCIONARPAGINACONTENIDOSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.SELECCIONARPAGINACONTENIDOSoapOut" />
    </operation>
    <operation name="OBTENERNOMBREAPELLIDO">
      <input message="wsdlns:PaquetesPopularesWS.OBTENERNOMBREAPELLIDOSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.OBTENERNOMBREAPELLIDOSoapOut" />
    </operation>
    <operation name="PAGINACONTENIDO">
      <input message="wsdlns:PaquetesPopularesWS.PAGINACONTENIDOSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.PAGINACONTENIDOSoapOut" />
    </operation>
    <operation name="PAQUETES">
      <input message="wsdlns:PaquetesPopularesWS.PAQUETESSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.PAQUETESSoapOut" />
    </operation>
    <operation name="BOLETINFOOTER">
      <input message="wsdlns:PaquetesPopularesWS.BOLETINFOOTERSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.BOLETINFOOTERSoapOut" />
    </operation>
    <operation name="DESTINOS">
      <input message="wsdlns:PaquetesPopularesWS.DESTINOSSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.DESTINOSSoapOut" />
    </operation>
    <operation name="DESTINODETALLE">
      <input message="wsdlns:PaquetesPopularesWS.DESTINODETALLESoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.DESTINODETALLESoapOut" />
    </operation>
    <operation name="COTIZARPAQUETE">
      <input message="wsdlns:PaquetesPopularesWS.COTIZARPAQUETESoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.COTIZARPAQUETESoapOut" />
    </operation>
    <operation name="COORDENADASPAQUETE">
      <input message="wsdlns:PaquetesPopularesWS.COORDENADASPAQUETESoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.COORDENADASPAQUETESoapOut" />
    </operation>
    <operation name="CONTACTOALMACENAR">
      <input message="wsdlns:PaquetesPopularesWS.CONTACTOALMACENARSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.CONTACTOALMACENARSoapOut" />
    </operation>
    <operation name="CONTACTO">
      <input message="wsdlns:PaquetesPopularesWS.CONTACTOSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.CONTACTOSoapOut" />
    </operation>
    <operation name="CATEGORIASBUSQUEDA">
      <input message="wsdlns:PaquetesPopularesWS.CATEGORIASBUSQUEDASoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.CATEGORIASBUSQUEDASoapOut" />
    </operation>
    <operation name="REGISTROUSUARIO">
      <input message="wsdlns:PaquetesPopularesWS.REGISTROUSUARIOSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.REGISTROUSUARIOSoapOut" />
    </operation>
    <operation name="INICIARSESION">
      <input message="wsdlns:PaquetesPopularesWS.INICIARSESIONSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.INICIARSESIONSoapOut" />
    </operation>
    <operation name="INFORMACIONADICIONAL">
      <input message="wsdlns:PaquetesPopularesWS.INFORMACIONADICIONALSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.INFORMACIONADICIONALSoapOut" />
    </operation>
    <operation name="RECOMENDADOS">
      <input message="wsdlns:PaquetesPopularesWS.RECOMENDADOSSoapIn" />
      <output message="wsdlns:PaquetesPopularesWS.RECOMENDADOSSoapOut" />
    </operation>
  </portType>
  <binding name="PaquetesPopularesWSSoapBinding" type="wsdlns:PaquetesPopularesWSSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="OBTENERPREGUNTAS">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.OBTENERPREGUNTAS" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SLIDER">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.SLIDER" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HEADERPUBLICIDAD">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.HEADERPUBLICIDAD" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HEADERTELEFONO">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.HEADERTELEFONO" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GUARDARPREGUNTAS">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.GUARDARPREGUNTAS" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RECUPERARPREGUNTASR">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.RECUPERARPREGUNTASR" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RECUPERARVALUEPREGUNTASR">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.RECUPERARVALUEPREGUNTASR" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ACTUALIZARPASSWORD">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.ACTUALIZARPASSWORD" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TEOFRECEMOS">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.TEOFRECEMOS" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VERIFICARUSUARIOREDES">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.VERIFICARUSUARIOREDES" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETINFORMACIONADICIONAL">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.GETINFORMACIONADICIONAL" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BUSQUEDAPAQUETES">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.BUSQUEDAPAQUETES" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SELECCIONARPAGINACONTENIDO">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.SELECCIONARPAGINACONTENIDO" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="OBTENERNOMBREAPELLIDO">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.OBTENERNOMBREAPELLIDO" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PAGINACONTENIDO">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.PAGINACONTENIDO" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PAQUETES">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.PAQUETES" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BOLETINFOOTER">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.BOLETINFOOTER" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DESTINOS">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.DESTINOS" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DESTINODETALLE">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.DESTINODETALLE" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="COTIZARPAQUETE">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.COTIZARPAQUETE" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="COORDENADASPAQUETE">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.COORDENADASPAQUETE" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CONTACTOALMACENAR">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.CONTACTOALMACENAR" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CONTACTO">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.CONTACTO" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CATEGORIASBUSQUEDA">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.CATEGORIASBUSQUEDA" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="REGISTROUSUARIO">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.REGISTROUSUARIO" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="INICIARSESION">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.INICIARSESION" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="INFORMACIONADICIONAL">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.INFORMACIONADICIONAL" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RECOMENDADOS">
      <soap:operation soapAction="TravelAdminaction/APAQUETESPOPULARESWS.RECOMENDADOS" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PaquetesPopularesWS">
    <port name="PaquetesPopularesWSSoapPort" binding="wsdlns:PaquetesPopularesWSSoapBinding">
      <soap:address location="http://localhost/TravelAdmin.NetEnvironment/apaquetespopularesws.aspx" />
    </port>
  </service>
</definitions>